{{- /* Proxy Field Template */ -}}

{{- define "fieldSchema" }}
    {
      name: "{{ .Name }}",
      label: "{{ .Label }}",
      type: "{{ .UIType }}",
      required: {{ .Required }},
      options: {{ JSArray .Options }},
      ui: {{ UIHintsJSON .UI }},
      {{- if and (eq .UIType "custom") .Component }}
      component: {{ .Component }},
      {{- end }}
    },
{{- end }}
