{{- range .ServiceStubs }}
from .{{ .ModuleName }} import {{ .ClassName }}, {{ .GetService }}
{{- end }}

__all__ = [
{{- range .ServiceStubs }}
    "{{ .ClassName }}",
    "{{ .GetService }}",
{{- end }}
]
