{{ define "main_server_services" }}
	{{- range .ServicesIR }}
	{{ if .Subscribes }}
	if natsClient != nil {
	{{- $svc := . }}
	{{- range $evtName := sortedKeys $svc.Subscribes }}
	{{- $method := mapGet $svc.Subscribes $evtName }}
		if _, err := natsClient.Subscribe("{{ $evtName }}", func(data []byte) error {
			var event port.{{ $method }}Request
			if err := json.Unmarshal(data, &event); err != nil {
				return err
			}
			if _, err := runtimeContainer.Svc{{ $svc.Name }}.{{ $method }}(context.Background(), event); err != nil {
				return err
			}
			return nil
		}); err != nil {
			log.Error("Failed to subscribe to {{ $evtName }}", "error", err)
		}
	{{- end }}
	}
	{{ end }}

	transport.Register{{ .Name }}Routes(r, runtimeContainer.Svc{{ .Name }})
	{{- if index $.WebSocketServices .Name }}
	transport.Register{{ .Name }}WSRoutes(r, runtimeContainer.Svc{{ .Name }})
	{{- end }}
	{{- end }}
{{ end }}
