package config

import (
	"fmt"
	"github.com/ilyakaznacheev/cleanenv"
)

type Config struct {
	{{- range .Fields }}
	{{ FieldName . }} {{ ConfigType . }} `env:"{{ .EnvVar }}"{{ if ne .Default "" }} env-default:"{{ ConfigDefault . }}"{{ else if not .IsOptional }} env-required:"true"{{ end }}`
	{{- end }}
}

func Load() (*Config, error) {
	var cfg Config
	
	// ReadConfig reads from ENV and optionally from a file if needed.
	// We use ReadEnv to focus strictly on Environment Variables as per current project architecture.
	err := cleanenv.ReadEnv(&cfg)
	if err != nil {
		return nil, fmt.Errorf("config error: %w", err)
	}

	return &cfg, nil
}
