package emailtemplates

import (
	"fmt"
	"{{ GoModule }}/internal/pkg/templaterender"
)

type Template struct {
	Subject string
	Text    string
	HTML    string
}

var Templates = map[string]Template{
{{- range . }}
	"{{ .Name }}": {
		Subject: {{ Quote .Subject }},
		Text:    {{ Quote .Text }},
		HTML:    {{ Quote .HTML }},
	},
{{- end }}
}

func Render(name string, data any) (Template, error) {
	tpl, ok := Templates[name]
	if !ok {
		return Template{}, fmt.Errorf("unknown email template: %s", name)
	}
	subject, err := templaterender.RenderString(tpl.Subject, data)
	if err != nil {
		return Template{}, err
	}
	text, err := templaterender.RenderString(tpl.Text, data)
	if err != nil {
		return Template{}, err
	}
	html, err := templaterender.RenderString(tpl.HTML, data)
	if err != nil {
		return Template{}, err
	}
	return Template{Subject: subject, Text: text, HTML: html}, nil
}
