package service

import (
	"context"
	"{{ .GoModule }}/internal/port"
)

type {{ .Service.Name }}Cached struct {
	base port.{{ .Service.Name }}
}

func New{{ .Service.Name }}Cached(base port.{{ .Service.Name }}) *{{ .Service.Name }}Cached {
	return &{{ .Service.Name }}Cached{base: base}
}

{{- range .Service.Methods }}
func (c *{{ $.Service.Name }}Cached) {{ .Name }}(ctx context.Context, req port.{{ .Input.Name }}) ({{ if .Output.Name }}port.{{ .Output.Name }}, {{ end }}error) {
	return c.base.{{ .Name }}(ctx, req)
}
{{- end }}
