package service

import (
{{- range .Imports }}
	"{{ . }}"
{{- end }}
)

{{ ServiceImplTypeDecl .Service .Entities .Auth }}

{{ ServiceImplConstructorDecl .Service .Entities .Auth }}

{{- range .Service.Methods }}
{{ if not (mapHas $.Overrides .Name) }}
{{ ServiceImplMethodSignature $.Service.Name . }} {
	{{- if and .Impl .Impl.Code }}
{{ Indent (CleanImplCode .Impl.Code .Output.Name) 1 }}
	{{- else }}
	return resp, nil
	{{- end }}
}
{{- end }}
{{- end }}
