{{- if .ProvenanceHeader }}{{ .ProvenanceHeader }}{{- end }}
package service

import (
{{- range .Imports }}
	{{ . }}
{{- end }}
)

{{ ServiceImplTypeDecl .Service .Entities .Auth }}

{{ ServiceImplConstructorDecl .Service .Entities .Auth }}
