package port

import (
        "context"
        "log/slog"
        {{- if HasConstraints .Service }}
        "fmt"
        {{- end }}
        {{- if or (HasEventMethods .Service) (HasDomainTypes .Service) }}
        "{{ .GoModule }}/internal/domain"
        {{- end }}
)

{{ ServiceInterfaceDecl .Service }}

// Request/Response DTOs
{{- range .Service.Methods }}
{{- if not (EventForMethod $.Service .) }}
type {{ .Input.Name }} struct {
        {{- range .Input.Fields }}
        {{ .Name | ExportName }} {{ .Type }} `json:"{{ JSONName .Name }}"`
        {{- end }}
}
{{- end }}
{{- if and .Output.Name (not (EventForMethod $.Service .)) }}
type {{ .Output.Name }} struct {
        {{- range .Output.Fields }}
        {{ .Name | ExportName }} {{ .Type }} `json:"{{ JSONName .Name }}"`
        {{- end }}
}
{{- end }}
{{- end }}

{{- range ServiceNestedTypes .Service }}
type {{ .Name }} struct {
        {{- range .Fields }}
        {{ .Name | ExportName }} {{ .Type }} `json:"{{ JSONName .Name }}"`
        {{- end }}
}
{{- end }}
