openapi: 3.0.3
info:
  title: ANG API
  version: 0.1.0
  x-ang-version: 0.1.0
  x-ang-input-hash: 230e98dbe04045bfc4372e75e03f83d5ef3146f198e82f0de89014b30b761ed4
  x-ang-compiler-hash: da4c69e77ddf4e94b49ea759dde0b35e42355a2b062317f6274172a1164123b5
paths:

components:
  schemas:
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: integer
        errors:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
