openapi: 3.0.3
info:
  title: ANG API
  version: 0.1.0
  x-ang-version: 0.1.44
  x-ang-input-hash: 0a81d4c0ee10f7b8123df2c0a182c83c24031b867870c56244122575c530b59c
  x-ang-compiler-hash: f1017acc23b23c7fa11c5bb1bfa31f8f786ec3fcf63ce6f9718267f0255e1d3b
paths:

components:
  schemas:
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: integer
        errors:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
